:root {
    --light: #f8f9fa;
    --cor-vermelho-projeto: #e30613;
    --cor-vermelhoDois-projeto:#dc3545;
    --cor-cinza-projeto: #e6e6e6;
    --cor-preta-projeto: #212529;
}

* {
  margin: 10 px;
  padding: 8 px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: black;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

body {
  background-color: rgb(221, 247, 255);
}

.menu-superior {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.menu-superior ul {
  display: flex;
  justify-content: space-evenly;
}

.menu-superior i {
  display: flex;
  justify-content: space-evenly;
}


#sobre-mim {
  margin: 4%;
}

#titulo {
  text-align: center;
  border: solid 2px;
  color: #40e0d0;
  background-color: #212529;
}

#footer {
  text-align: center;
  border: solid 2px;
  color: #40e0d0;
  background-color: #212529;
}

#footer p {
  color: #40e0d0;
  
}

